<h1>Edit City Form</h1>

<%= render 'form' %>

<%= link_to "Nevermind", location_path(@location) %>
  <% if current_user.admin?  %>
    <%= button_to 'Delete City', @location, method: :delete, data: { confirm: 'Are you sure?'} %>
  <% end %>
